Source: mapphone-kexecboot-config
Section: misc
Priority: optional
Maintainer: Carl Klemm <carl@uvos.xyz>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.3.0

Package: droid4-kexecboot-config
Architecture: all
Depends: ${misc:Depends}
Description: boot.cfg file for Motorola Droid4 kexecboot

Package: droid3-kexecboot-config
Architecture: all
Depends: ${misc:Depends}
Description: boot.cfg file for Motorola Droid3 kexecboot

Package: bionic-kexecboot-config
Architecture: all
Depends: ${misc:Depends}
Description: boot.cfg file for Motorola Bionic kexecboot

Package: xt910-kexecboot-config
Architecture: all
Depends: ${misc:Depends}
Description: boot.cfg file for Motorola Razr kexecboot

Package: xt912-kexecboot-config
Architecture: all
Depends: ${misc:Depends}
Description: boot.cfg file for Motorola Droid Razr kexecboot

Package: mz617-kexecboot-config
Architecture: all
Depends: ${misc:Depends}
Description: boot.cfg file for Motorola Droid Mz617 kexecboot
